@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap');
.image-sizing{
    height: 650px; 
    
}

.caption{
    font-family: 'Noto Sans Mono', monospace;
    text-shadow: 2px 2px black;

}
