@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap');

.navbar-route{
    font-family: 'Noto Sans Mono', monospace;
    color: white;
}

.text-color{
    color:rgb(161, 160, 160);
    margin-left: 15px;
}